RouteCard/RouteCard/Service References/localhost/MockService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59166/MockService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59166/MockService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59166/MockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/App.Mock.WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMockService_GetLot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLot" />
  </wsdl:message>
  <wsdl:message name="IMockService_GetLot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotResponse" />
  </wsdl:message>
  <wsdl:message name="IMockService_IsValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUser" />
  </wsdl:message>
  <wsdl:message name="IMockService_IsValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IMockService">
    <wsdl:operation name="GetLot">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockService/GetLot" message="tns:IMockService_GetLot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockService/GetLotResponse" message="tns:IMockService_GetLot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMockService/IsValidUser" message="tns:IMockService_IsValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMockService/IsValidUserResponse" message="tns:IMockService_IsValidUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMockService" type="tns:IMockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLot">
      <soap:operation soapAction="http://tempuri.org/IMockService/GetLot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidUser">
      <soap:operation soapAction="http://tempuri.org/IMockService/IsValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MockService">
    <wsdl:port name="BasicHttpBinding_IMockService" binding="tns:BasicHttpBinding_IMockService">
      <soap:address location="http://localhost:59166/MockService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>