RouteCard/RouteCard/Service References/localhost/MockService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/App.Mock.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/App.Mock.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lot" nillable="true" type="tns:Lot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLot" nillable="true" type="tns:ArrayOfLot" />
  <xs:complexType name="Lot">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Equipment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hold_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hold_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hold_Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hold_Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hold_Release" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oper" type="xs:int" />
      <xs:element minOccurs="0" name="Oper_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Planed_Hold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Process" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Process_Nr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Route" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specification" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lot" nillable="true" type="tns:Lot" />
</xs:schema>